@tailwind base;
@tailwind components;
@tailwind utilities;


*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
  
}

.landing{
  margin: 0 auto;
  text-align: center;
}

.landing > h1{
  margin-bottom: 1rem;
}
.start-button{
  width: 240px;
  margin: 0 auto;
}

.start-button:hover{
  background-color: #374151;
}

.start-button:active{
  background-color: #D1D5DB;
}

@media only screen and (min-width:768px ){

  .landing{
    display: flex;
  }

  .start-button{
    width: 190px;
    padding: 15px 8px   
  }
}